/***CSS***/
html,
body {
    padding: 0;
    margin: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/***Header***/
header {
    border-bottom: 1px solid #000;
}

header #logo {
    float: left;
    color: greenyellow;
}

header nav {
    float: right;
    margin-top: 20px;
    word-spacing: 3.8px;
}

header a {
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
}

header a:hover {
    color: greenyellow;
    font-size: 17px;
}

/***Image***/
.image {
    background-image: url('barley-872000_1280.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 730px;
    width: 100%;
}

.image .big-text {
    padding-top: 9.5rem;
}

.image h1 {
    color: #fff;
    font-size: 70px;
    font-weight: bold;
}

.image p {
    color: #fff;
    font-size: 24px;
}

.image button {
    border: none;
    border-radius: 12px;
    padding: 15px;
    background-color: #fff;
}

/***About Section ***/
.about {
    text-align: center;
    padding-top: 4rem;
}

.about h2 {
    font-size: 40px;
}

/***Welcome***/
.welcome {
    padding-top: 4rem;
}

.welcome h1 {
    text-align: center;
    font-size: 35px;
}

.welcome .welcome-center {
    float: left;
    width: 30%;
    text-align: center;
    margin: 15px;
}

.welcome .farm {
    color: greenyellow;
    font-size: 28px;
    font
}


/***Products***/
.products {
    text-align: center;
    padding-top: 4rem;
}


.products h1 {
    text-align: center;
    font-size: 35px;
}

.products .products-text {
    width: 30%;
    float: left;
    margin: 15px;
    border: 1px solid #000;
}

.products img {
    width: 100%;
}

.products p {
    color: greenyellow;
}

/***Footer***/
footer {
    text-align: center;
    margin-top: 3rem;
    background-color: #000;
}

footer p {
    color: #fff;
}



/***Mobile Ready***/
@media screen and (max-width: 720px) {
    header nav {
        padding-right: 30px;
        padding-bottom: -50px;
    }
    header h1 {
        padding-left: 40px;
        padding-top: -20px;
        font-size: 37px;
    }
    
    .image .big-text h1 {
        font-size: 55px;
        margin-bottom: 20px;
        text-align: center;
    }
    .image {
        text-align: center;
    }
    
    .about p {
        text-align: center;
    }
    
    .welcome .welcome-center {
        width: 90%;
        text-align: center;

    }
    
    .products .products-text {
        width: 90%;
    }
}